/* Base, participates in layout (never scaled) */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: .75rem;
  background: #fff;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.cardOverlay {
  will-change: transform, box-shadow;
  transform: translateZ(0)
}

.card--gradient{
  background: linear-gradient(rgb(26, 92, 79), rgb(5, 31, 26));
}
.card--flat{
  background-color: white;
  color: rgb(5, 31, 26);
}
