@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Sour+Gummy:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "./css/kola.css";
@import "./css/sentient.css";
@import "./css/teko.css";
html{
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(rgb(5, 31, 26), rgb(32, 114, 98));
  color: white;
}
button{
  color: white
}
h1,h2,h3,h4,button{
  font-family: 'Teko-Light'
}
p,a{
  font-family: 'Sentient-Regular';
}
a{
  text-decoration: none;
  color: rgb(5, 31, 26);
  font-weight: 700;
}